{% autoescape off %}


Hello {{ name }}!
confegration email for account that you create in our website !
.........................
.........................
this step is nessecery for storing your data in our website for your account....
.........................
.........................
confegration code: {{code}}
.........................
Enter this code in our page that we show to you now ....
.........................
and thank you for using our App {{name}}!

>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

{% endautoescape %}